body{
    background-size:1200px;
    background-position-y: 800px;
    background-position-x: center;
}
.header{
    margin-top: 0px;
    width:100%;
    height:70px;
    font-size: 23px;;
}
#status, #stats, #is_baby_detected{
    font-size: 23px;
}
#note{
    font-size:18px;
}
canvas{
    box-shadow: 10px, 10px, 10px, grey;
    border-radius:10px;
    border-width:10px;
    border-color:black;
    border-style:solid;
}